<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @attempt.uid %>
</p>

<p>
  <strong>Qid:</strong>
  <%= @attempt.qid %>
</p>

<p>
  <strong>Success:</strong>
  <%= @attempt.success %>
</p>

<p>
  <strong>State:</strong>
  <%= @attempt.state %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
